.container{
  background-image: url(./2078293.jpg), linear-gradient(#02020252, #00000056);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}
h1 {
  font-size: 55px;
  background: -webkit-linear-gradient(#eee, rgb(64, 137, 150));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }