.container{
  background-image: url(./background-img.jpg), linear-gradient(#02020252, #00000056);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}
h1 {
  color:  rgb(207, 40, 40);
}

